.table-thumbnail{
    margin: 15px 0;
    width: 75%;
    transform: rotate(90deg);
    
}

.table-thumbnail:hover{
    width: 100%;
    box-shadow: 5px -5px black;
    cursor: zoom-in;
}

.table-th{
    width: 100% !important;
}

.modal-image{
    width: 100%;
}

.modal-content{
    background: none !important;
    border: none !important;
    text-align: center;
    margin-top: 10%;
}

.modal-cancel{
    width: 3rem;
    background-color: #B6FFBE !important;
    color: black !important;
    font-weight: bold !important;
    text-align: center;
}

.modal-cancel:hover{
    background-color: #0C150D !important;
    color: white !important;
}

.modal-rotate-left{
    width: 50px;
    display: block;
    position: relative;
    right: 35%;
}

.modal-rotate-right{
    width: 50px;
    display: block;
    position: relative;
    right: -35%;
}

.modal-buttons{
    display: flex;
    justify-content: center;
    margin: 0 0 3rem 0;
}

th{
    position: sticky;
    background: grey;
    top: 0;
    z-index: 1;
}